.side-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 5rem; */
  height: 4%;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
}

.logo > img {
  width: 3rem;
  height: 3rem;
}

.logo > span > span {
  color: var(--pink);
}

/* menu */
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
  cursor: pointer;
}

.menu .menu-item:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.active {
  background: var(--activeItem);
  margin-left: 0; /* remove the margin*/
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background-color: var(--pink);
  margin-right: calc(1rem - 8px); /* to make the space become 2rem*/
}
